body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.fonts {
    font-family: "Playwrite GB J", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* Styling Btn */

button {
    cursor: pointer;
    margin-left: 30%;
    padding: 10px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

button:hover {
    color: #e8e8e8;
}

button:hover::before {
    width: 100%;
}

/* end */


/* js part */
.active1 {
    border: #f5f5f5 solid 1px;
    box-shadow: #e7ee89 0px 0px 25px 15px;
    border-radius: 40px;
}

.active2 {
    border: #f5f5f5 solid 1px;
    box-shadow: #000000 0px 0px 15px 5px;
    border-radius: 40px;
}

.bg-light {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100vh;
    color: #333;
}

.bg-dark {
    background-image: linear-gradient(to right, #4f4d4d 0%, black 100%);
    min-height: 100vh;
    color: #f5f5f5;
}

.card-name-dark {
    color: #333;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* end */

.main-nav {
    width: 220vh;
    height: 25vh;
    margin: -2vh;
}

.app-title {
    background-image: linear-gradient(to right, #99e9b4 0%, #38f9d7 100%);
    font-size: 70px;
    margin: 0 20px;
    padding: 65px 40px;

}

.theme-mode {
    width: 33vh;
    margin-top: -17vh;
    margin-left: 185vh;
}

.img-btn {
    width: 120px;
    margin: 10px 20px;
    border-radius: 60px;
    cursor: pointer;
}

.poster-head {
    width: 211vh;
    height: 70vh;
    object-fit: cover;
    margin-top: 0;
}

@media screen and (max-width: 600px) {
    body {
        width: 185vh;
    }

    .main-nav {
        width: 227vh;
        height: 259px;
        margin-top: 2px;
    }

    .app-title {
        font-size: 69px;
    }

    .theme-mode {
        width: 58vh;
        margin-top: -33vh;
        margin-left: 159vh;
    }

    .img-btn {
        width: 140px;
        margin: 12px 11px;
        border-radius: 80px;
        cursor: pointer;
    }

    .poster-head {
        width: 215vh;
        height: 120vh;
        object-fit: cover;
    }

}

@media screen and (min-width: 600px) and (max-width: 768px) {
    body {
        width: 665px;
    }

    .main-nav {
        background-image: linear-gradient(to right, #99e9b4 0%, #38f9d7 100%);
        width: 185vh;
        height: 275px;
        margin-top: -40px;
    }

    .app-title {
        font-size: 60px;
    }

    .theme-mode {
        width: 50vh;
        margin-top: -33vh;
        margin-left: 134vh;
    }

    .img-btn {
        width: 90px;
        margin: 12px 28px;
        border-radius: 80px;
        cursor: pointer;
    }

    .poster-head {
        width: 185vh;
        height: 116vh;
        margin-top: -91px;
        object-fit: cover;
    }

    .input-search {
        width: 52vh;
        margin: 5px 230px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        width: 1115px;
    }

    .main-nav {
        background-image: linear-gradient(to right, #99e9b4 0%, #38f9d7 100%);
        width: 155vh;
        height: 188px;
        margin-top: -39px;
    }

    .app-title {
        font-size: 60px;
        padding: 35px;
    }

    .theme-mode {
        width: 239px;
        margin-top: -143px;
        margin-left: 857px;
    }

    .img-btn {
        width: 85px;
        margin: -6px 12px;
        border-radius: 45px;
        cursor: pointer;
    }

    .poster-head {
        width: 112.5vh;
        height: 59vh;
        object-fit: cover;
    }

    .input-search {
        width: 51vh;
        margin: 24px 305px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        min-width: 115vh;
    }

    .main-nav {
        background-image: linear-gradient(to right, #99e9b4 0%, #38f9d7 100%);
        width: 113vh;
        height: 240px;
        margin-top: -50px;
    }

    .app-title {
        font-size: 60px;
    }

    .theme-mode {
        padding: 34px;
        width: 265px;
        margin-top: -210px;
        margin-left: 1050px;
    }

    .img-btn {
        width: 100px;
        margin: -9px 14px;
        border-radius: 50px;
        cursor: pointer;
    }

    .poster-head {
        width: 112.5vh;
        height: 59vh;
        object-fit: cover;
    }

    .input-search {
        width: 51vh;
        margin: 24px 305px;
        margin-top: 50px;
    }
}

/* nav bar end */
/* phase 2 part */
.poster-head2 {
    width: 100%;
    height: 120vh;

}

.section-heading {
    background-image: linear-gradient(to right, #8af4ae 0%, #38f9d7 100%);
    width: 205vh;
    text-align: center;
    padding: 60px;
    text-align: center;
    font-size: 55px;
}

.container-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px 0;
    cursor: pointer;
}

.card2 {
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    margin: 30px;
    border-radius: 0 25px 0 0;
}

.card2:hover {
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
}

.card-img {
    width: 450px;
    height: 450px;
    margin: 10px;
    border-radius: 0 25px 0 0;
}

.video {
    margin: 0 500px;
    width: 100vh;
    height: 500px;
}

@media screen and (max-width: 600px) {
    .poster-head2 {
        width: 201vh;
        height: 120vh;

    }

    .section-heading {
        background-image: linear-gradient(to right, #8af4ae 0%, #38f9d7 100%);
        width: 205vh;
        text-align: center;
        padding: 60px;
        text-align: center;
        font-size: 55px;
    }

    .container-categories {
        width: 224vh;
    }

    .container-card {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 100px 0;
        cursor: pointer;

    }

    .card2 {
        background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
        margin: 30px;
        border-radius: 0 25px 0 0;
    }

    .card2:hover {
        background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
        transform: scale(1.1);
        transition: 0.6s ease-in-out;
    }

    .card-img {
        width: 450px;
        height: 450px;
        margin: 10px;
        border-radius: 0 25px 0 0;
    }

    .video {
        margin: 0 385px;
        width: 100vh;
        height: 500px;
    }
}

/* footer section */
.footer-1 {
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 218vh;
    height: 30vh;
    text-align: center;
}

.footer-img {
    width: 12vh;
    margin: 0 30px;
}

.footer-heading {
    font-size: 40px;
    margin: 0px -24px;
}

.footer-social-icon {
    width: 75px;
    margin: 8px;
    cursor: pointer;
    border-radius: 10px;
}

.footer-social-icon:hover {
    box-shadow: #48fa69 0px 0px 25px;
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
}

.footer1-1 {
    margin: 0px 0;
}

.footer1-1-1 {
    font-size: 40px;
    margin: 51px -24px;
}

.footer-link {
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    margin: 10px 0;
}

@media screen and (max-width: 600px) {
    .footer-1 {
        background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
        display: inline-block;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 355vh;
        text-align: center;
    }

    .footer-img {
        width: 260px;
        margin: 0px 177px;
    }

    .footer-heading {
        font-size: 71px;
        margin: 0 5px;
    }

    .footer-social-icon {
        width: 115px;
        margin: 10px;
        cursor: pointer;
        border-radius: 65px;
    }

    .footer-social-icon:hover {
        box-shadow: #48fa69 0px 0px 25px;
        transform: scale(1.1);
        transition: 0.6s ease-in-out;
    }

    .footer1-1 {
        margin: 0 200px;
        padding: 0 20px;
    }

    .footer1-1-1 {
        font-size: 85px;
    }

    .footer-link {
        font-size: 45px;
        cursor: pointer;
        text-decoration: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .footer-1 {
        margin: 10px;
        height: 181vh;
        width: 850px;
    }

    .footer-img {
        width: 170px;
        margin: 0px 89px;
    }

    .footer-heading {
        font-size: 35px;
        margin: 0 5px;
    }

    .footer-social-icon {
        width: 55px;
        margin: 8px;
        cursor: pointer;
        border-radius: 10px;
    }

    .footer-social-icon:hover {
        box-shadow: #48fa69 0px 0px 25px;
        transform: scale(1.1);
        transition: 0.6s ease-in-out;
    }

    .footer1-1 {
        text-align: center;
        margin: 10px 120px;
        padding: 0 11px;
    }

    .footer1-1-1 {
        font-size: 45px;
    }

    .footer-link {
        font-size: 17px;
        cursor: pointer;
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .footer-1 {
        height: 30vh;
        width: 1115px;
    }

    .footer-img {
        width: 115px;
        margin: 0px 2px;
    }

    .footer-heading {
        font-size: 25px;
        margin: 0 5px;
    }

    .footer-social-icon {
        width: 55px;
        margin: 8px;
        cursor: pointer;
        border-radius: 10px;
    }

    .footer-social-icon:hover {
        box-shadow: #48fa69 0px 0px 25px;
        transform: scale(1.1);
        transition: 0.6s ease-in-out;
    }

    .footer1-1 {
        text-align: center;
        margin: 5px;
    }

    .footer1-1-1 {
        font-size: 40px;
    }

    .footer-link {
        font-size: 20px;
        cursor: pointer;
        text-decoration: none;
    }
}