body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.fonts {
    font-family: "Playwrite GB J", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.app-title {
    background-image: linear-gradient(to right, #99e9b4 0%, #38f9d7 100%);
    padding: 35px;
}

.theme-mode {
    position: absolute;
    right: 0px;
    top: 25px;

}

.img-btn {
    width: 60px;
    margin: 0 20px;
    cursor: pointer;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .app-title {
        background-image: linear-gradient(to right, #99e9b4 0%, #38f9d7 100%);
        width: 75vh;
        padding: 35px;
        font-size: 20px;
    }

    .theme-mode {
        position: absolute;
        right: -220px;
        top: 25px;
    }

    .img-btn {
        width: 50px;
        margin: 10px 5px;
        cursor: pointer;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .main-nav {}

    .app-title {
        background-image: linear-gradient(to right, #99e9b4 0%, #38f9d7 100%);
        padding: 35px;
        font-size: 30px;
    }

    .img-btn {
        width: 45px;
        margin: 30px 15px;
        cursor: pointer;
    }
}

/* js part */
.active1 {
    border: #f5f5f5 solid 1px;
    box-shadow: #e7ee89 0px 0px 25px 15px;
    border-radius: 40px;
}

.active2 {
    border: #f5f5f5 solid 1px;
    box-shadow: #000000 0px 0px 15px 5px;
    border-radius: 40px;
}

.bg-light {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100vh;
    color: #333;
}

.bg-dark {
    background-image: linear-gradient(to right, #4f4d4d 0%, black 100%);
    min-height: 100vh;
    color: #f5f5f5;
}

/* end */

.poster-head {
    width: 218.5vh;
    height: 70vh;
    object-fit: cover;
    margin-top: 0;
}

.input-search {
    width: 52vh;
    margin: 5px auto;
    margin-top: 50px;
}

.input {
    width: 48vh;
    height: 9vh;
    border-radius: 20px 5px 5px 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;

}

.btn-enter {
    margin-top: 30px;
    margin-left: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (min-width: 300px) and (max-width: 600px) {

    .poster-head {
        width: 85vh;
        height: 40vh;
        object-fit: cover;
        margin-top: 0;
    }

    .input-search {
        width: 47vh;
        margin: 10px 110px;
        margin-top: 50px;
    }

    .input {
        width: 47vh;
        height: 7vh;
        border-radius: 20px 5px 5px 5px;
        padding: 5px;
        text-align: center;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
    }

    .head-input {
        margin: 10px 0;
    }


}

@media screen and (min-width: 600px) and (max-width: 800px){
    .poster-head {
        width: 57vh;
        height: 40vh;
        object-fit: cover;
        margin-top: 0;
    }

    .input-search {
        width: 47vh;
        margin: 10px 20px;
        margin-top: 50px;
    }

    .input {
        width: 47vh;
        height: 7vh;
        border-radius: 20px 5px 5px 5px;
        padding: 5px;
        text-align: center;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
    }

    .head-input {
        margin: 10px 0;
    }
}

/* Styling Btn */

button {
    cursor: pointer;
    margin-left: 30%;
    padding: 10px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

button:hover {
    color: #e8e8e8;
}

button:hover::before {
    width: 100%;
}

/* end */


.container-img {
    width: 500px;
    position: absolute;
    left: 25px;
}

.container-detail {
    width: 1009px;
    margin: 95px auto;
}

.hero-img {
    width: 50vh;
    height: 80vh;
    margin-top: 50px;

}

.hero-detail {
    font-size: 20px;
}

@media screen and (min-width: 300px) and (max-width: 600px) {

    .container-img {
        width: 500px;
    }

    .container-detail {
        width: 380px;
        margin-top: 310px;
        margin-left: 60px;
        font-size: 12px;
        text-align: center;
    }

    .hero-img {
        width: 32vh;
        height: 40vh;
        margin: 30px 125px;
        /* object-fit: cover; */
    }

    .hero-detail {
        font-size: 20px;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {

}

/* categories section */

.container-categories {
    margin-top: 50px;
    padding: 35px;

}

.section-heading {
    background-image: linear-gradient(to right, #8af4ae 0%, #38f9d7 100%);
    width: 430px;
    text-align: center;
    padding: 50px;

}

.container-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 60px;
    cursor: pointer;
}

.card {
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    margin: 30px;
    border-radius: 0 25px 0 0;
}

.card:hover {
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
}

.card-img {
    width: 280px;
    height: 280px;
    margin: 10px;
    border-radius: 0 25px 0 0;

}

.card-name {
    text-align: center;
}

.card-name-dark {
    color: #333;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.poster-head2 {
    width: 214vh;
    height: 85vh;
    margin: 20px 0;
}

@media screen and (min-width: 300px) and (max-width: 600px) {

    .container-categories {
        margin-top: 680px;
        padding: 25px;
    }

    .section-heading {
        background-image: linear-gradient(to right, #8af4ae 0%, #38f9d7 100%);
        border: #02fa8a double 5px;
        border-radius: 28px;
        text-align: center;
        padding: 20px;
        font-size: 20px;

    }

    .container-card {
        width: 320px;
        margin-top: 40px;
        margin: 0 -15px;
        cursor: pointer;
    }

    .card {
        background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
        width: 100px;
        height: 130px;
        margin: 30px;
        border-radius: 0 15px 0 0;
    }

    .card:hover {
        background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
        transform: scale(1.1);
        transition: 0.6s ease-in-out;
    }

    .card-img {
        width: 80px;
        height: 80px;
        margin: 10px;
        border-radius: 0 15px 0 0;

    }

    .card-name {
        text-align: center;
        font-size: 7px;
    }

    .poster-head2 {
        width: 57vh;
        height: 28vh;
        margin: 20px 0;
        margin-left: -23px;
    }

}


/* Best selling Collection */

.selling-heading {
    background-image: linear-gradient(to right, #8af4ae 0%, #38f9d7 100%);
    text-align: center;
    padding: 20px;
    border: #38f9d7 solid 5px;

}

.container-best-sell {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px 0;
}


/* card one  */

.card-1-1 {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(176, 229, 208, 1) 42%, rgba(92, 202, 238, 0.41) 93.6%);
    border-radius: 0 25px 0 0;
    width: 450px;
    height: 610px;
}

.card-show {
    width: 350px;
    height: 370px;
    margin: 10px;
    border-radius: 0 25px 0 0;
}

.card-img-changer {
    width: 70px;
    height: 90px;
    margin-left: 370px;
    margin-top: -378px;
    cursor: pointer;
}

.img-changes {
    width: 60px;
    border-radius: 15px;
}

.img-changes:hover {
    box-shadow: #06ac61 0px 0px 25px;
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
}

.product-card-detail {
    width: 450px;
    margin-top: 290px;
}

.star {
    width: 400px;
    margin: 5px 0;
    object-fit: cover;
    height: 45px;
}

.figure-name {
    font-size: medium;
    text-align: center;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .selling-heading {
        background-image: linear-gradient(to right, #8af4ae 0%, #38f9d7 100%);
        text-align: center;
        padding: 10px;
        border: #38f9d7 double 5px;
        border-radius: 0 25px;
        font-size: 20px;
    }

    .container-best-sell {
        margin: 50px 0;
        cursor: pointer;
    }

    /* card one  */

    .card-1-1 {
        background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(176, 229, 208, 1) 42%, rgba(92, 202, 238, 0.41) 93.6%);
        border-radius: 25px;
        margin: 15px 0;
        width: 140px;
        height: 190px;
    }

    .card-show {
        width: 100px;
        height: 100px;
        margin: 10px;
        border-radius: 10px;
    }

    .card-img-changer {
        width: 15px;
        margin-left: 115px;
        margin-top: -113px;
        cursor: pointer;
    }

    .img-changes {
        width: 17px;
        border-radius: 5px;
    }

    .img-changes:hover {
        box-shadow: #06ac61 0px 0px 25px;
        transform: scale(1.1);
        transition: 0.6s ease-in-out;
    }

    .product-card-detail {
        width: 100px;
        margin-top: 15px;
        margin-left: 6px;
    }

    .star {
        width: 80px;
        height: 10px;
        margin: 0px 13px;
        object-fit: cover;

    }

    .figure-name {
        width: 120px;
        font-size: 5px;
    }
    .buy-btn{
       margin-left: 30px;
       padding: 5px;
       font-size: 7px;
    }
}


/* footer section */

.footer-1 {
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 35vh;
}

.footer-img {
    width: 100px;
    margin: 0 50px;
}


.footer-heading {
    margin: 0 5px;
}

.footer-social-icon {
    width: 40px;
    margin: 3px;
    cursor: pointer;
    border-radius: 10px;
}

.footer-social-icon:hover {
    box-shadow: #48fa69 0px 0px 25px;
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
}

.footer1-1 {
    padding: 10px;
}

.footer-link {
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (min-width: 300px) and (max-width: 600px){
    .footer-1 {
        background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
        display: inline-block;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 130vh;
    }
    
    .footer-img {
        width: 80px;
        margin: 0 60px;
    }
    
    .footer-heading {
        margin: 0 4px;
    }
    
    .footer-social-icon {
        width: 40px;
        margin: 3px;
        cursor: pointer;
        border-radius: 10px;
    }
    
    .footer1-1 {
        padding: 10px;
    }

    .font1-1-1{
        margin-left: 40px; 
    }
    
    .footer-link {
        font-size: 17px;
        margin-left: 40px;
        cursor: pointer;
        text-decoration: none;
    }   
}