body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.fonts {
    font-family: "Playwrite GB J", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}



/* js part */
.active1 {
    border: #f5f5f5 solid 1px;
    box-shadow: #e7ee89 0px 0px 25px 15px;
    border-radius: 40px;
}

.active2 {
    border: #f5f5f5 solid 1px;
    box-shadow: #000000 0px 0px 15px 5px;
    border-radius: 40px;
}

.bg-light {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100vh;
    color: #333;
}

.bg-dark {
    background-image: linear-gradient(to right, #4f4d4d 0%, black 100%);
    min-height: 100vh;
    color: #f5f5f5;
}

.card-name-dark {
    color: #333;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* end */

.main-nav {
    width: 218vh;
    height: 250px;
    margin: 0;
}

.app-title {
    background-image: linear-gradient(to right, #99e9b4 0%, #38f9d7 100%);
    font-size: 45px;
    padding: 50px;

}

.theme-mode {
    margin-top: -139px;
    margin-left: 1999px;
}

.img-btn {
    width: 90px;
    margin: 10px 20px;
    cursor: pointer;
}

.poster-head {
    width: 218.5vh;
    height: 70vh;
    object-fit: cover;
    margin-top: 0;
}

@media screen and (max-width: 600px) {
    body {
        width: 185vh;
    }

    .main-nav {
        width: 185vh;
        height: 200px;
        margin-top: -46px;
    }

    .app-title {
        font-size: 69px;
    }

    .theme-mode {
        width: 81vh;
        margin-top: -40vh;
        margin-left: 126vh;
    }

    .img-btn {
        width: 140px;
        margin: 12px 11px;
        border-radius: 80px;
        cursor: pointer;
    }

    .poster-head {
        width: 184.5vh;
        height: 106vh;
        object-fit: cover;
    }

}

@media screen and (min-width: 600px) and (max-width: 768px) {
    body {
        width: 665px;
    }

    .main-nav {
        background-image: linear-gradient(to right, #99e9b4 0%, #38f9d7 100%);
        width: 185vh;
        height: 275px;
        margin-top: -40px;
    }

    .app-title {
        font-size: 60px;
    }

    .theme-mode {
        width: 50vh;
        margin-top: -33vh;
        margin-left: 134vh;
    }

    .img-btn {
        width: 90px;
        margin: 12px 28px;
        border-radius: 80px;
        cursor: pointer;
    }

    .poster-head {
        width: 185vh;
        height: 116vh;
        margin-top: -91px;
        object-fit: cover;
    }

    .input-search {
        width: 52vh;
        margin: 5px 230px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        width: 1115px;
    }

    .main-nav {
        background-image: linear-gradient(to right, #99e9b4 0%, #38f9d7 100%);
        width: 113vh;
        height: 188px;
        margin-top: -39px;
    }

    .app-title {
        font-size: 60px;
        padding: 35px;
    }

    .theme-mode {
        width: 239px;
        margin-top: -143px;
        margin-left: 857px;
    }

    .img-btn {
        width: 85px;
        margin: -6px 12px;
        border-radius: 45px;
        cursor: pointer;
    }

    .poster-head {
        width: 112.5vh;
        height: 59vh;
        object-fit: cover;
    }

    .input-search {
        width: 51vh;
        margin: 24px 305px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        min-width: 115vh;
    }

    .main-nav {
        background-image: linear-gradient(to right, #99e9b4 0%, #38f9d7 100%);
        width: 113vh;
        height: 240px;
        margin-top: -50px;
    }

    .app-title {
        font-size: 60px;
    }

    .theme-mode {
        padding: 34px;
        width: 265px;
        margin-top: -210px;
        margin-left: 1050px;
    }

    .img-btn {
        width: 100px;
        margin: -9px 14px;
        border-radius: 50px;
        cursor: pointer;
    }

    .poster-head {
        width: 112.5vh;
        height: 59vh;
        object-fit: cover;
    }

    .input-search {
        width: 51vh;
        margin: 24px 305px;
        margin-top: 50px;
    }
}

/* nav bar end */
.input-search {
    width: 52vh;
    margin: 5px auto;
    margin-top: 50px;
}

.input {
    width: 48vh;
    height: 9vh;
    border-radius: 20px 5px 5px 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;

}

.btn-enter {
    margin-top: 30px;
    margin-left: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}



/* Styling Btn */

button {
    cursor: pointer;
    margin-left: 30%;
    padding: 10px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

button:hover {
    color: #e8e8e8;
}

button:hover::before {
    width: 100%;
}

/* end */


.container-img {
    width: 500px;
}

.container-detail {
    width: 1009px;
    margin-top: -686px;
    margin-left: 607px;
}

.hero-img {
    width: 50vh;
    height: 70vh;
    object-fit: cover;
    margin-top: 50px;
    margin-left: 150px;

}

.hero-name {
    font-size: 35px;
    margin-left: 150px;
}

.hero-detail {
    width: 1500px;
    font-size: 30px;
    margin-left: 150px;

}

@media screen and (max-width: 600px) {
    .input-search {
        height: 37vh;
        width: 52vh;
        margin: 40px 300px;
        margin-top: 50px;
    }

    .input {
        margin: 25px 0px;
        width: 92vh;
        height: 17vh;
        border-radius: 20px 5px 5px 5px;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        font-size: 42px;
        cursor: pointer;
    }

    .btn {
        display: flex;
        justify-content: space-around;
        margin: 83px -8px;
        width: 97vh;

    }

    .btn-enter {
        margin-top: 31px;
        margin-left: 20px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        cursor: pointer;
    }

    .container-img {
        width: 183vh;
        height: 105vh;
    }

    .container-detail {
        width: 185vh;
        margin: 13px;
        text-align: center;
    }

    .hero-img {
        width: 60vh;
        height: 85vh;
        object-fit: cover;
        margin: 101px 400px;
    }

    .hero-name {
        font-size: 50px;
        margin: auto;
    }

    .hero-detail {
        width: 175vh;
        font-size: 45px;
        margin: 23px;
    }

}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .container-img {
        width: 676px;
        height: 525px;
    }

    .container-detail {
        width: 720px;
        margin-top: 99px;
        margin-left: -31px;
    }

    .hero-img {
        width: 50vh;
        height: 70vh;
        object-fit: cover;
        margin-top: 50px;
        margin-left: 230px;
    }

    .hero-name {
        font-size: 35px;
        margin-left: 186px;
    }

    .hero-detail {
        width: 600px;
        text-align: center;
        font-size: 26px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .container-img {
        width: 1120px;
        height: 765px;
    }

    .container-detail {
        width: 965px;
        margin: 46px 80px;
    }

    .hero-img {
        width: 50vh;
        height: 70vh;
        object-fit: cover;
        margin-left: 314px;
    }

    .hero-name {
        width: 845px;
        font-size: 45px;
        margin: 26px 25px;
        padding: 20px;
        text-align: center;
    }

    .hero-detail {
        width: 893px;
        text-align: center;
        font-size: 31px;
        margin: 25px;
    }
}

/* categories section */

.container-categories {
    margin-top: 250px;
}

.section-heading {
    background-image: linear-gradient(to right, #8af4ae 0%, #38f9d7 100%);
    width: 207vh;
    text-align: center;
    padding: 60px;
    font-size: 55px;
}

.container-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px 0;
    cursor: pointer;
}

.card {
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    margin: 30px;
    border-radius: 0 25px 0 0;
}

.card:hover {
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
}

.card-img {
    width: 450px;
    height: 450px;
    margin: 10px;
    border-radius: 0 25px 0 0;
}

.card-name {
    text-align: center;
    font-size: 25px;
}

.poster-head2 {
    width: 214vh;
    height: 85vh;
    margin: 20px 0;
}

@media screen and (max-width: 600px) {
    .container-categories {
        margin-top: 250px;
    }

    .section-heading {
        background-image: linear-gradient(to right, #8af4ae 0%, #38f9d7 100%);
        width: 165vh;
        text-align: center;
        padding: 60px;
        font-size: 55px;
        border-radius: 100px;
    }

    .container-card {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 100px 0;
        cursor: pointer;
    }

    .card {
        background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
        margin: 30px;
        border-radius: 0 25px 0 0;
    }

    .card:hover {
        background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
        transform: scale(1.1);
        transition: 0.6s ease-in-out;
    }

    .card-img {
        width: 450px;
        height: 450px;
        margin: 10px;
        border-radius: 0 25px 0 0;
    }

    .card-name {
        text-align: center;
        font-size: 25px;
    }

    .poster-head2 {
        width: 185vh;
        height: 85vh;
        margin: 20px 0;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .container-categories {
        width: 667px;
        margin-top: 90px;
    }

    .section-heading {
        background-image: linear-gradient(to right, #8af4ae 0%, #38f9d7 100%);
        width: 97vh;
        text-align: center;
        padding: 57px;
        font-size: 46px;
    }

    .container-card {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 30px 0;
        width: 859px;
        cursor: pointer;
    }

    .card {
        background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
        width: 310px;
        height: 365px;
        margin: 30px;
        border-radius: 0 25px 0 25px;
    }

    .card:hover {
        background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
        transform: scale(1.1);
        transition: 0.6s ease-in-out;
    }

    .card-img {
        width: 280px;
        height: 265px;
        margin: 10px;
        border-radius: 0 25px 0 0;
    }

    .card-name {
        text-align: center;
        font-size: 20px;
    }

    .poster-head2 {
        width: 111vh;
        height: 58vh;
        margin: 20px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .container-categories {
        width: 1110px;
        margin: 73px 5px;
    }

    .section-heading {
        background-image: linear-gradient(to right, #8af4ae 0%, #38f9d7 100%);
        width: 100vh;
        text-align: center;
        padding: 55px;
        font-size: 50px;
    }

    .container-card {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 33px 5px;
        width: 1100px;
        cursor: pointer;
    }

    .card {
        background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
        width: 420px;
        height: 462px;
        margin: 30px;
        border-radius: 0 25px 0 25px;
    }

    .card:hover {
        background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
        transform: scale(1.1);
        transition: 0.6s ease-in-out;
    }

    .card-img {
        width: 390px;
        height: 330px;
        margin: 10px;
        border-radius: 0 25px 0 0;
    }

    .card-name {
        text-align: center;
        font-size: 30px;
    }

    .poster-head2 {
        width: 111vh;
        height: 58vh;
        margin: 20px 0;
    }

}

/* Best selling Collection */

.selling-heading {
    background-image: linear-gradient(to right, #8af4ae 0%, #38f9d7 100%);
    text-align: center;
    padding: 50px;
    font-size: 45px;
    border: #38f9d7 solid 5px;
}

.container-best-sell {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px 0;
}

/* card one  */
.card-1-1 {
    border-radius: 0 25px 0 0;
    width: 580px;
    height: 700px;
    padding: 10px;
}

.card-show {
    width: 450px;
    height: 480px;
    margin: 10px;
    border-radius: 0 25px 0 0;
}

.card-img-changer {
    width: 70px;
    height: 237px;
    margin-left: 462px;
    margin-top: -513px;
    cursor: pointer;
}

.img-changes {
    width: 80px;
    margin: 10px 20px;
    border-radius: 15px;
}

.img-changes:hover {
    box-shadow: #06ac61 0px 0px 25px;
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
}

.product-card-detail {
    width: 584px;
    margin-top: 282px
}

.star {
    width: 523px;
    margin: 5px 0;
    object-fit: cover;
    height: 45px;
}

.figure-name {
    font-size: 22px;
    text-align: center;
}


@media screen and (max-width: 600px) {
    .selling-heading {
        background-image: linear-gradient(to right, #8af4ae 0%, #38f9d7 100%);
        text-align: center;
        padding: 50px;
        font-size: 45px;
        border: #38f9d7 solid 5px;
        border-radius: 100px
    }

    .container-best-sell {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 100px 0;
    }

    /* card one  */
    .card-1-1 {
        border-radius: 0 25px 0 0;
        width: 580px;
        height: 700px;
        padding: 10px;
    }

    .card-show {
        width: 450px;
        height: 480px;
        margin: 10px;
        border-radius: 0 25px 0 0;
    }

    .card-img-changer {
        width: 70px;
        height: 237px;
        margin-left: 462px;
        margin-top: -513px;
        cursor: pointer;
    }

    .img-changes {
        width: 80px;
        margin: 10px 20px;
        border-radius: 15px;
    }

    .img-changes:hover {
        box-shadow: #06ac61 0px 0px 25px;
        transform: scale(1.1);
        transition: 0.6s ease-in-out;
    }

    .product-card-detail {
        width: 584px;
        margin-top: 282px
    }

    .star {
        width: 523px;
        margin: 5px 0;
        object-fit: cover;
        height: 45px;
    }

    .figure-name {
        font-size: 22px;
        text-align: center;
    }
}

@media screen and (min-width: 600px) and (max-width: 7680px) {
    .selling-heading {
        text-align: center;
        width: 750px;
        padding: 50px;
        font-size: 45px;
        border: #38f9d7 solid 5px;
    }

    .container-best-sell {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 100px 134px;
    }

    /* card one  */
    .card-1-1 {
        border-radius: 25px 0 25px 0;
        width: 580px;
        margin: 23px 0;
        height: 700px;
        padding: 10px;
    }

    .card-show {
        width: 450px;
        height: 480px;
        margin: 10px;
        border-radius: 25px 0 25px 0;
    }

    .card-img-changer {
        width: 70px;
        height: 237px;
        margin-left: 462px;
        margin-top: -513px;
        cursor: pointer;
    }

    .img-changes {
        width: 80px;
        margin: 10px 20px;
        border-radius: 15px;
    }

    .img-changes:hover {
        box-shadow: #06ac61 0px 0px 25px;
        transform: scale(1.1);
        transition: 0.6s ease-in-out;
    }

    .product-card-detail {
        width: 584px;
        margin-top: 282px
    }

    .star {
        width: 523px;
        margin: 5px 0;
        object-fit: cover;
        height: 45px;
    }

    .figure-name {
        font-size: 22px;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .selling-heading {
        text-align: center;
        width: 101vh;
        font-size: 53px;
        border: #38f9d7 solid 5px;
    }

    .container-best-sell {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 40px 134px;
    }

    /* card one  */
    .card-1-1 {
        border-radius: 25px 0 25px 0;
        width: 580px;
        margin: 30px 0;
        height: 700px;
        padding: 10px;
    }

    .card-show {
        width: 450px;
        height: 480px;
        margin: 10px;
        border-radius: 25px 0 25px 0;
    }

    .card-img-changer {
        width: 70px;
        height: 237px;
        margin-left: 462px;
        margin-top: -513px;
        cursor: pointer;
    }

    .img-changes {
        width: 80px;
        margin: 10px 20px;
        border-radius: 15px;
    }

    .img-changes:hover {
        box-shadow: #06ac61 0px 0px 25px;
        transform: scale(1.1);
        transition: 0.6s ease-in-out;
    }

    .product-card-detail {
        width: 584px;
        margin-top: 282px
    }

    .star {
        width: 523px;
        margin: 5px 0;
        object-fit: cover;
        height: 45px;
    }

    .figure-name {
        font-size: 22px;
        text-align: center;
    }
}

/* footer section */
.footer-1 {
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 23vh;
}

.footer-img {
    width: 100px;
    margin: 0 50px;
}

.footer-heading {
    margin: 0 5px;
}

.footer-social-icon {
    width: 55px;
    margin: 8px;
    cursor: pointer;
    border-radius: 10px;
}

.footer-social-icon:hover {
    box-shadow: #48fa69 0px 0px 25px;
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
}

.footer1-1 {
    padding: 10px;
}

.footer-link {
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .footer-1 {
        margin: 10px;
        height: 181vh;
        width: 850px;
    }

    .footer-img {
        width: 170px;
        margin: 0px 89px;
    }

    .footer-heading {
        font-size: 35px;
        margin: 0 5px;
    }

    .footer-social-icon {
        width: 55px;
        margin: 8px;
        cursor: pointer;
        border-radius: 10px;
    }

    .footer-social-icon:hover {
        box-shadow: #48fa69 0px 0px 25px;
        transform: scale(1.1);
        transition: 0.6s ease-in-out;
    }

    .footer1-1 {
        text-align: center;
        margin: 10px 120px;
        padding: 0 11px;
    }

    .footer1-1-1 {
        font-size: 45px;
    }

    .footer-link {
        font-size: 17px;
        cursor: pointer;
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .footer-1 {
        height: 30vh;
        width: 1115px;
    }

    .footer-img {
        width: 115px;
        margin: 0px 2px;
    }

    .footer-heading {
        font-size: 25px;
        margin: 0 5px;
    }

    .footer-social-icon {
        width: 55px;
        margin: 8px;
        cursor: pointer;
        border-radius: 10px;
    }

    .footer-social-icon:hover {
        box-shadow: #48fa69 0px 0px 25px;
        transform: scale(1.1);
        transition: 0.6s ease-in-out;
    }

    .footer1-1 {
        text-align: center;
        margin: 5px;
    }

    .footer1-1-1 {
        font-size: 40px;
    }

    .footer-link {
        font-size: 20px;
        cursor: pointer;
        text-decoration: none;
    }
}