body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.app-title {
    background-image: linear-gradient(to right, #99e9b4 0%, #38f9d7 100%);
    padding: 35px;
    margin-top: 0;
    
}

.fonts {
    font-family: "Playwrite GB J", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.theme-mode {
    position: absolute;
    right: 0px;
    top: 25px;
}

.img-btn {
    width: 60px;
    margin: 0 20px;
    padding: 10px;
    cursor: pointer;
}

.active{
    border:  #f5f5f5 solid 1px;
    box-shadow:  #80ff80 0px 0px 15px;
}

.bg-light{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100vh;
    color: #333;
}
.bg-dark{
    background-image: linear-gradient(to right, #b2afaf 0%, black 100%);
    min-height: 100vh;
    color: #f5f5f5;
}
.poster-head{
    width: 218.5vh;
    height: 70vh;
    object-fit: cover;
    margin-top: 0;
}
.input-search{
    width: 52vh;
    margin: 5px auto;
    margin-top: 50px;
}
.input{
    width: 48vh;
    height: 5vh;
    border-radius: 20px 5px 5px 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.btn{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    
}
.button-btn{
    width: 20vh;
    height: 5vh;
    border: none;
    border-radius: 0  20px 0 0;
    font-weight: bold;
    cursor: pointer;
}

.container-img
{
    width: 500px;
    position: absolute;
    left: 25px;
}
.container-detail{
    width: 1009px;
    margin: 95px auto;
    position: absolute;
    right: 25px;
}
.hero-img{
    width: 50vh;
    height: 80vh;
    object-fit: cover;
    margin-top: 50px;
    
}

.hero-detail{
    font-size: 20px;
}

.container-categories{
    
    margin-top: 680px;
    padding: 25px;
   
}

.section-heading{
    background-image: linear-gradient(to right, #8af4ae 0%, #38f9d7 100%);
    text-align: center;
    padding: 50px;

}
.container-card{
    /* background-color: #99e9b4; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 60px ;
}

.card{
    
}
.card-img{
    width: 280px;
    height: 280px;
    margin: 10px;
    border-radius: 0 25px 0 0;
    
}

.card-name{
    text-align: center;
}
